@import '../styles/theme.less';

.cs-input {
    border: none;
    height: 35px;
    line-height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid @input-border-color;
    border-radius: 25px;
    text-indent: 1em;
    padding-right: 30px;
    caret-color: @input-caret-color;
    color: @input-placeholder-color;
    font-size: 1rem;
    background-color: inherit;
    box-sizing: border-box;
}

.cs-input-remove {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cs-input-div {
    width: 70%;
    position: relative;
    margin: 10px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: @input-placeholder-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: @input-placeholder-color;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #666;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #666;
}
