@import '../styles/theme.less';

:root {
    --input-border-color: var(--accents-1);
    --input-color: var(--accents-8);
    --input-placeholder-color: var(--accents-2);
    --input-icon-bg-bolor: var(--accents-2);
    --input-height: 24px;
    --input-label-color: var(--accents-8);
}

.alt-input {
    position: relative;

    &__input {
        width: 100%;
        border: none;
        height: var(--input-height);
        line-height: var(--input-height);
        outline: none;
        text-indent: 1em;
        caret-color: var(--input-color);
        color: var(--input-color);
        font-size: 1rem;
        background-color: inherit;
        box-sizing: border-box;
        padding: 0px;
        padding-right: 30px;

        &--clear {
            width: 1.2em;
            height: 1.2em;
            fill: var(--input-icon-bg-bolor);
            overflow: hidden;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &--radius {
            border-radius: 25px;
        }

        &--border {
            border: 1px solid var(--input-border-color);
        }
    }

    &__label {
        width: 18vw;
        color: var(--input-label-color);
        text-align: left;
        padding-left: 2vw;
        &--disabled {
            color: var(--input-placeholder-color);
        }
    }

    :disabled {
        color: var(--input-placeholder-color);
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: var(--input-placeholder-color);
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: var(--input-placeholder-color);
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: var(--input-placeholder-color);
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: var(--input-placeholder-color);
    }
}

.alt-cell__title {
    flex: none;
    width: auto;
}
