.c-dropdown-menu {
    user-select: none;
    .c-dropdown-menu__bar {
        position: relative;
        display: flex;
        height: 48px;
        background-color: #fff;
        box-shadow: 0 2px 12px rgba(100, 101, 102, 0.12);
    }
}
