.c-dropdown-menu {
    user-select: none;

    &__bar {
        position: relative;
        display: flex;
        height: 48px;
        background-color: var(--accents-4);
        box-shadow: var(--shadow-mini);
        &--hide--shadow {
            box-shadow: none;
        }
    }

    .c-popup {
        top: 48px;
        &__overlay {
            top: 48px;
        }
    }

    .c {
        &-pop-top-enter,
        &-pop-top-leave-to {
            transform: translateY(0);
        }
    }
}
