.c {
    &-fade-enter,
    &-fade-leave-to {
        opacity: 0;
    }
    &-fade-enter-active,
    &-fade-leave-active {
        transition: opacity 0.25s;
    }
}

.c-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &__overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--overlay-default);
        transition: all 0.25s;

        &--show {
            visibility: visible;
            opacity: 1;
        }
        &--hide {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__content {
        overflow: auto;
        background-color: var(--accents-4);
        transition: all 0.25s;
    }

    &--center {
        position: relative;
    }
}
