:root {
    --header-background-color: var(--accents-6);
    --header-title-font-weight: var(--font-weight-blod);
}

.c-header {
    height: 40px;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accents-4);
    position: relative;

    &__left {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--arrow {
            height: 11px;
            display: inline-block;
            margin-left: 5vw;
        }

        &--arrow::before {
            content: '';
            position: absolute;
            border-top: 1px solid var(--accents-4);
            width: 10px;
            height: 10px;
            -webkit-transform: rotate(60deg);
            transform: rotate(-44deg);
            border-left: 1px solid var(--accents-4);
        }

        &--text {
            margin-left: 14px;
        }
    }

    &__right {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--text {
            margin-right: 14px;
        }
    }

    &__left:hover,
    &__right:hover {
        cursor: pointer;
    }

    &__title {
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: var(--header-title-font-weight);
        font-size: 1.2rem;
    }
}
