:root {
    --dialog-background: var(--accents-4);
    --dialog-content-color: var(--accents-2);
    --dialog-button-color: var(--error-default);
    --dialog-overlay-background: var(--overlay-default);
}

.c-dialog {
    z-index: 2001;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 80vw;
    height: 40vw;
    font-size: 16px;
    background-color: var(--dialog-background);
    border-radius: 16px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    border: 1px solid var(--accents-5);

    &--del--border {
        border: none;
    }

    &__title {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-weight: 500;
    }

    &__content {
        height: 50%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--dialog-content-color);
        font-size: 15px;
        padding: 0px 20px;
        line-height: 25px;
    }

    &__confirm {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }

    &__confirm::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        border-top: 1px solid var(--accents-5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    &__button {
        width: 80%;
        height: 80%;
        background-color: var(--dialog-background);
        border: none;
        outline: none;
        color: var(--dialog-button-color);
    }

    &--show {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

    &--hide {
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
    }
}

.c-dialog__overlay {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dialog-overlay-background);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;

    &--show {
        visibility: visible;
        opacity: 1;
    }

    &--hide {
        visibility: hidden;
        opacity: 0;
    }
}
